$mainColor: #435feb;
$grey:rgb(173, 173, 173);
$black:rgb(63, 63, 63);
$width: 768px;
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding: 0;
}
@mixin primarybutton($width,$height,$bg:$mainColor,$color:white){
    border: none;
    width:$width;
    height: $height;
    border-radius: 5px;
    color:$color;
    background-color: $bg;
    cursor: pointer;
}
@mixin input{
    margin-top: 5px;
    span{
        display: block;
        color: $black;
        font-weight: 800;
    }
    input{
        margin-top: 8px;
        border: none;
        background-color: white;
        box-shadow: 0 5px 5px rgb(241, 241, 241),2px 0px 5px rgb(241, 241, 241),-2px 0px 5px rgb(241, 241, 241);
        padding:12px 10px;
        border-radius: 4px;
        width: 8vw;
        font-weight: 900;
        color: $black;
        &::-webkit-outer-spin-button,
&::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
        &:focus{
            border:none;outline: none;
        }
        &::placeholder{
            font-weight: 700;
            color: $grey;
        }
    }
    select{
        margin-top: 8px;
        border: none;
        background-color: white;
        box-shadow: 0 5px 5px rgb(241, 241, 241),2px 0px 5px rgb(241, 241, 241),-2px 0px 5px rgb(241, 241, 241);
        padding:12px 10px;
        border-radius: 4px;
        width:28vw;
        outline: none;
        font-weight: 600;
        color: $grey;
        text-transform: capitalize;
        option{
            color: $black;
            font-weight: 700;
          }
        &::placeholder{
            color: $grey;
        }
    }
    textarea{
        margin-top: 8px;
        border: none;
        background-color: white;
        box-shadow: 0 5px 5px rgb(241, 241, 241),2px 0px 5px rgb(241, 241, 241),-2px 0px 5px rgb(241, 241, 241);
        padding:12px 10px;
        border-radius: 4px;
        width:39vw;
        font-weight: 900;
        color: $black;
        outline: none;
        resize: none;
    }
}
@mixin table($width:"100%"){
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: $width;
    text-align: left;
    padding:5px;
    tr{
        th{
            color: $grey;
            font-size: 10px;
            padding-right: 5px;
        }
        td{
            color: black;
            font-size: 12px;
            font-weight: 600;
            word-break: break-word; 
            vertical-align: top;
            &:nth-child(1){
                padding-right:20%;
            }
            span{
                color:$grey;
                display:block;
                margin: 2px auto;
                pre{
                    margin: 4px auto;
                }
            }
            .icon{
                color: $grey;
                cursor: pointer;
            }
        }
    }
}
@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}